/*Irgendwie Alles*/
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    background-size: auto;
    background-image: linear-gradient(#019D94, #073C54);
    background-attachment: fixed;
}
.allesinhalt{
    position: absolute;
    top: 40vh;
    left: 5vw;
    height: 100vh;
    letter-spacing: 1.0px;
}
.title h1{
    color: white;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}
.title p{
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
.title button{
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 50px;
    padding: 7px;
    transition: border 0.3s;
}
.title button:hover{
    border: 3px solid rgba(255, 255, 255, 0.5);
}
.title button:focus{
    outline: none;
}
.nav a{
    color: white;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 18px;
    padding: 8px;
    margin: 20px;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    letter-spacing: 1.2px;
    transition: border-bottom 0.3s;
}
.nav a:hover{
    border-bottom: 3px solid white;
}
.nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 3vh;
    right: 5vw;
}
.content{
    position: relative;
    top: 50vh;
}
.content h2{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding: 20px;
}
.footer{
    position: relative;
    height: 50px;
    
}
.footer img{
    height: 50px;
    position: absolute;
    right: 0px;
    bottom: 5px;
}

/*Songs*/

.song-einzeln{
    background-image: linear-gradient(to right bottom,rgba(255, 255, 255, 0.29), rgba(255, 255, 255, 0.4)) ;
    border-radius: 40px;
    padding: 25px;
    position: relative;
    height: 140px;
    width: 450px;
    margin-bottom: 25px;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.25);
}
.song-einzeln img{
    width: 140px;
    position: absolute;
    right: 20px ;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 30px;
}
.song-einzeln h3{
    color: white;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}
.song-einzeln audio{
    margin-top: 16.5px;
    border-radius: 30px;
}
.song-einzeln audio:focus{
    outline: none;
}
.youtube, .soundcloud{
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    margin-right: 30px;
}
.youtube:hover{
    border-bottom: 2px solid red;
}
.soundcloud:hover{
    border-bottom: 2px solid #FF5419;
}
.songs-gesamt{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Social Media*/

.dienste-gesamt{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.dienst-einzeln{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 40px;
    padding: 15px;
    position: relative;
    height: 20vh;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.25);
    transition: background-color 0.2s;
}
.dienst-einzeln:hover{
    background-color: rgba(255, 255, 255, 0.38);
}
.dienst-einzeln img{
    height: 20vh;
}

/*Info*/

.entstehung-gesamt, tools-gesamt{
    width: 90vw;
}
.entstehung-absatz{
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(255, 255, 255, 0.29);
    border-radius: 40px;
    padding: 15px;
    width: 85vw;
    margin-bottom: 25px;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.25);
}

.tool-einzeln{
    background-color: rgba(255, 255, 255, 0.29);
    border-radius: 40px;
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.25);
}
.tool-einzeln h3{
    color: white;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
.tool-einzeln a{
    text-decoration: none;
}
.tool-einzeln h3:hover{
    text-decoration: underline solid white;
}
.tool-einzeln p{
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
.tool-einzeln img{
    width: 300px;
    margin: 15px 5px 15px 5px;
}
.tool-text{
    margin: 15px;
}

/*Mobile-Songs*/
@media (max-width: 545px){
    .songs-gesamt{
        justify-content: center;
    }
    .song-einzeln{
        height: 325px;
        max-width: 300px;
        padding: 18px;
    }
    .song-einzeln h3{
        text-align: center;
    }
    .song-einzeln audio{
        position: relative;
        bottom: -208px;
        width: 300px;
        height: 54px;
    }
    .song-einzeln img{
        left: 50%;
        top: 168px;
        transform: translate(-50%, -50%);
        width: 225px;
    }
    .youtube, .soundcloud{
        display: none;
    }
}
